<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.studypro.daos.CourseMapper">
    <resultMap id="ResultMapWithIdAndName" type="com.cdut.studypro.beans.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <resultMap extends="ResultMapWithIdAndName" id="ResultMapWithIdAndNameAndTeacher"
               type="com.cdut.studypro.beans.Course">
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
    </resultMap>
    <resultMap extends="ResultMapWithIdAndNameAndTeacher" id="ResultMapWithIdAndNameAndTeacherAndChapter"
               type="com.cdut.studypro.beans.Course">
        <collection column="id" property="chapters" ofType="com.cdut.studypro.beans.CourseChapter"
                    select="com.cdut.studypro.daos.CourseChapterMapper.selectByCourseIdWithIdAndTitle"/>
    </resultMap>
    <resultMap id="BriefResultMap" type="com.cdut.studypro.beans.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="college_id" jdbcType="VARCHAR" property="collegeId"/>
    </resultMap>
    <resultMap extends="BriefResultMap" id="ResultMapWithCollege" type="com.cdut.studypro.beans.Course">
        <association property="college" select="com.cdut.studypro.daos.CollegeMapper.selectByPrimaryKeyWithIdAndName"
                     column="college_id"/>
    </resultMap>
    <resultMap extends="BriefResultMap" id="ResultMapWithTeacher" type="com.cdut.studypro.beans.Course">
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.cdut.studypro.beans.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="college_id" jdbcType="INTEGER" property="collegeId"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
    </resultMap>
    <resultMap id="ResultMapWithTeacherAndChapterAndVideo" type="com.cdut.studypro.beans.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
        <collection column="id" property="chapters" ofType="com.cdut.studypro.beans.CourseChapter"
                    select="com.cdut.studypro.daos.CourseChapterMapper.selectByCourseIdWithIdAndTitleAndVideo"/>

    </resultMap>
    <resultMap id="ResultMapWithTeacherAndChapterAndFile" type="com.cdut.studypro.beans.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
        <collection column="id" property="chapters" ofType="com.cdut.studypro.beans.CourseChapter"
                    select="com.cdut.studypro.daos.CourseChapterMapper.selectByCourseIdWithIdAndTitleAndFile"/>

    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cdut.studypro.beans.Course">
        <result column="intro" jdbcType="LONGVARCHAR" property="intro"/>
    </resultMap>
    <resultMap extends="BriefResultMap" id="ResultMapWithIdAndNameAndCollegeAndChapter"
               type="com.cdut.studypro.beans.Course">
        <association property="college" column="college_id"
                     select="com.cdut.studypro.daos.CollegeMapper.selectByPrimaryKeyWithIdAndName"/>
        <collection column="id" property="chapters" ofType="com.cdut.studypro.beans.CourseChapter"
                    select="com.cdut.studypro.daos.CourseChapterMapper.selectByCourseIdWithIdAndTitle"/>
    </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithBLOBsAndCollege"
               type="com.cdut.studypro.beans.Course">
        <association property="college" select="com.cdut.studypro.daos.CollegeMapper.selectByPrimaryKeyWithIdAndName"
                     column="college_id"/>
    </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithBLOBsAndTeacher"
               type="com.cdut.studypro.beans.Course">
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
    </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithBLOBsAndCollegeAndTeacher"
               type="com.cdut.studypro.beans.Course">
        <association property="college" select="com.cdut.studypro.daos.CollegeMapper.selectByPrimaryKeyWithIdAndName"
                     column="college_id"/>
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithCollegeAndTeacher"
               type="com.cdut.studypro.beans.Course">
        <association property="college" select="com.cdut.studypro.daos.CollegeMapper.selectByPrimaryKeyWithIdAndName"
                     column="college_id"/>
        <association property="teacher"
                     select="com.cdut.studypro.daos.TeacherMapper.selectByPrimaryKeyWithIdNameAndCollege"
                     column="teacher_id"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, name, college_id, number, teacher_id
  </sql>
    <sql id="Blob_Column_List">
    intro
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.cdut.studypro.beans.CourseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectNumberByExample" parameterType="com.cdut.studypro.beans.CourseExample"
            resultType="java.lang.String">
        select
        <if test="distinct">
            distinct
        </if>
        number
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithChapterAndTeacher" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithIdAndNameAndTeacherAndChapter">
        select
        <if test="distinct">
            distinct
        </if>
        id,name,teacher_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithIdAndNameAndTeacher" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithIdAndNameAndTeacher">
        select
        <if test="distinct">
            distinct
        </if>
        id,name,teacher_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectTeacherIdByExample" parameterType="com.cdut.studypro.beans.CourseExample"
            resultType="java.lang.Integer">
        select
        <if test="distinct">
            distinct
        </if>
        teacher_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectCourseIdByExample" parameterType="com.cdut.studypro.beans.CourseExample"
            resultType="java.lang.Integer">
        select
        <if test="distinct">
            distinct
        </if>
        id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectCollegeIdByExample" parameterType="com.cdut.studypro.beans.CourseExample"
            resultType="java.lang.Integer">
        select
        <if test="distinct">
            distinct
        </if>
        college_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="ResultMapWithBLOBsAndCollegeAndTeacher">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKeyWithoutBLOBs" parameterType="java.lang.Integer"
            resultMap="ResultMapWithCollegeAndTeacher">
        select
        <include refid="Base_Column_List"/>
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKeyWithoutTeacherAndCollege" parameterType="java.lang.Integer"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByTeacherIdWithIdAndNameWithCollege" parameterType="java.lang.Integer"
            resultMap="ResultMapWithCollege">
    select
    id,name,college_id
    from course
    where teacher_id = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.cdut.studypro.beans.CourseExample">
        delete from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cdut.studypro.beans.Course">
    insert into course (id, name, college_id, 
      number, teacher_id, intro
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{collegeId,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, #{intro,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.cdut.studypro.beans.Course">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="collegeId != null">
                college_id,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="intro != null">
                intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="collegeId != null">
                #{collegeId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cdut.studypro.beans.CourseExample" resultType="java.lang.Long">
        select count(*) from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update course
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.collegeId != null">
                college_id = #{record.collegeId,jdbcType=INTEGER},
            </if>
            <if test="record.number != null">
                number = #{record.number,jdbcType=VARCHAR},
            </if>
            <if test="record.teacherId != null">
                teacher_id = #{record.teacherId,jdbcType=INTEGER},
            </if>
            <if test="record.intro != null">
                intro = #{record.intro,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update course
        set id = #{record.id,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        college_id = #{record.collegeId,jdbcType=INTEGER},
        number = #{record.number,jdbcType=VARCHAR},
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
        intro = #{record.intro,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update course
        set id = #{record.id,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        college_id = #{record.collegeId,jdbcType=INTEGER},
        number = #{record.number,jdbcType=VARCHAR},
        teacher_id = #{record.teacherId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cdut.studypro.beans.Course">
        update course
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=VARCHAR},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cdut.studypro.beans.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.cdut.studypro.beans.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByExampleWithBLOBsAndCollegeAndTeacher" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithBLOBsAndCollegeAndTeacher">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithBLOBsAndCollege" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithBLOBsAndCollege">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithBLOBsAndTeacher" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithBLOBsAndTeacher">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithCollegeAndTeacher" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithCollegeAndTeacher">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithCollege" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithCollege">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithChapterAndCollege" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithIdAndNameAndCollegeAndChapter">
        select
        <if test="distinct">
            distinct
        </if>
        id,name,college_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKeyWithIdNameAndCollege" parameterType="java.lang.Integer"
            resultMap="ResultMapWithCollege">
        select
        id,name,college_id
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKeyWithIdNameAndTeacher" parameterType="java.lang.Integer"
            resultMap="ResultMapWithTeacher">
        select
        id,name,teacher_id
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKeyWithIdName" parameterType="java.lang.Integer"
            resultMap="ResultMapWithIdAndName">
        select
        id,name
        from course
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByExampleWithChapterAndVideo" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithTeacherAndChapterAndVideo">
        select
        <if test="distinct">
            distinct
        </if>
        id,name,teacher_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleWithChapterAndFile" parameterType="com.cdut.studypro.beans.CourseExample"
            resultMap="ResultMapWithTeacherAndChapterAndFile">
        select
        <if test="distinct">
            distinct
        </if>
        id,name,teacher_id
        from course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
        insert into course
        (name,college_id,number,intro,teacher_id)
        values
        <foreach collection="courses" item="course" separator=",">
            (
            #{course.name,jdbcType=VARCHAR},
            #{course.collegeId,jdbcType=INTEGER},
            #{course.number,jdbcType=VARCHAR},
            #{course.intro,jdbcType=LONGVARCHAR},
            #{course.teacherId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>