<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.studypro.daos.TaskMapper">
    <resultMap id="BaseResultMap" type="com.cdut.studypro.beans.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chapter_id" jdbcType="INTEGER" property="chapterId"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithCourseAndChapter" type="com.cdut.studypro.beans.Task">
        <association property="courseChapter" column="chapter_id"
                     select="com.cdut.studypro.daos.CourseChapterMapper.selectByPrimaryKeyWithIdTitleAndCourse"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, chapter_id, teacher_id, title, record_time
  </sql>
    <select id="selectByExample" parameterType="com.cdut.studypro.beans.TaskExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from task
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.cdut.studypro.beans.TaskExample">
        delete from task
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cdut.studypro.beans.Task">
    insert into task (id, chapter_id, teacher_id, 
      title, record_time)
    values (#{id,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{recordTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.cdut.studypro.beans.Task">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="chapterId != null">
                chapter_id,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cdut.studypro.beans.TaskExample" resultType="java.lang.Long">
        select count(*) from task
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update task
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.chapterId != null">
                chapter_id = #{record.chapterId,jdbcType=INTEGER},
            </if>
            <if test="record.teacherId != null">
                teacher_id = #{record.teacherId,jdbcType=INTEGER},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.recordTime != null">
                record_time = #{record.recordTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update task
        set id = #{record.id,jdbcType=INTEGER},
        chapter_id = #{record.chapterId,jdbcType=INTEGER},
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        record_time = #{record.recordTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cdut.studypro.beans.Task">
        update task
        <set>
            <if test="chapterId != null">
                chapter_id = #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cdut.studypro.beans.Task">
    update task
    set chapter_id = #{chapterId,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByExampleWithCourseAndChapter" parameterType="com.cdut.studypro.beans.TaskExample"
            resultMap="ResultMapWithCourseAndChapter">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from task
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKeyWithCourseAndChapter" parameterType="com.cdut.studypro.beans.TaskExample"
            resultMap="ResultMapWithCourseAndChapter">
        select
        <include refid="Base_Column_List"/>
        from task
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>