<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--自动扫描包，只扫描控制器-->
    <context:component-scan base-package="com.cdut.studypro.controllers">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--登录拦截器-->
        <mvc:interceptor>
            <!--拦截路径-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/index/*"/>
            <mvc:exclude-mapping path="/*/login"/>
            <mvc:exclude-mapping path="/*/register"/>
            <mvc:exclude-mapping path="/*/findPassword"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/resources1/**"/>
            <bean class="com.cdut.studypro.interceptors.LoginInterceptor"/>
        </mvc:interceptor>
        <!--权限拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/index/*"/>
            <mvc:exclude-mapping path="/*/login"/>
            <mvc:exclude-mapping path="/*/register"/>
            <mvc:exclude-mapping path="/*/findPassword"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/resources1/**"/>
            <bean class="com.cdut.studypro.interceptors.AuthInterceptor"/>
        </mvc:interceptor>
        <!--文件上传拦截器-->
        <!--<mvc:interceptor>
            <mvc:mapping path="/*/*Import"/>
            <mvc:mapping path="/teacher/saveCourseVideo"/>
            <mvc:mapping path="/teacher/updateCourseVideo"/>
            <mvc:mapping path="/student/uploadOfflineTask/*"/>
            <mvc:mapping path="/student/reUploadOfflineTask/*"/>
            <mvc:mapping path="/teacher/saveCourseFile"/>
            <mvc:mapping path="/teacher/updateCourseFile"/>
            <bean class="com.cdut.studypro.interceptors.FileUploadInterceptor">
                &lt;!&ndash;单位：MB&ndash;&gt;
                <property name="maxSize" value="100"/>
            </bean>
        </mvc:interceptor>-->
    </mvc:interceptors>

    <!--配置视图解析器，方便页面返回-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--50M-->
        <!--<property name="maxUploadSize" value="52428800"/>-->
        <!--临时文件的存储地址-->
        <property name="uploadTempDir" value="WEB-INF/temp"/>
        <!--设置允许单个上传文件的最大值，不要在这里配置-->
        <!--        <property name="maxUploadSizePerFile" value="1024"/>-->
        <!--延迟解析，在Controller中抛出异常-->
        <property name="resolveLazily" value="true"/>
    </bean>
    <!--两个标准-->
    <!--将spring MVC 不能处理的请求（静态资源之类的请求）交给Tomcat-->
    <mvc:default-servlet-handler/>
    <!--能支持springMVC更高级的一些功能，JSR303校验、快捷的ajax...映射动态请求-->
    <mvc:annotation-driven/>
    <!--配置国际化资源文件-->
    <!--<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="i18n"/>
    </bean>-->
    <!--<mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/resources1/**" location="/resources1/" />
    <mvc:resources mapping="/head/**" location="/head/" />
    <mvc:resources mapping="/video/**" location="/video/" />-->

</beans>